/****** COLORS ******/

// Original-Design
// $RichBlack: #010922;
// $CetaceanBlue: #0b0f2f;
// $DeepKoamaru: #312964;
// $Ceil: #8f8fdb;
// $MiddleBlueGreen: #86cfd0;
// $Crystal: #aed4db;
// $BrightGray: #ebebeb;
// 5761C7


//rose-500: #F43F5E
//purple-500: #A855F7
$RichBlack: #13131A;
$CetaceanBlue: #010922;
$DeepKoamaru: linear-gradient(90deg, rgb(244 63 94), rgb(168 85 247));
$Ceil: #8f8fdb;
$MiddleBlueGreen2: linear-gradient(290deg, rgb(244 63 94), rgb(168 85 247));
$MiddleBlueGreen: rgb(244 63 94);
$Crystal: #aed4db;
$BrightGray: #ebebeb;

/****** TRANSITIONS ******/

$Transition-03: 0.3s all ease-in;